.page-title {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	font-weight: 700;
	font-size: 3em;
	color: black;
	font-family: "Poppins", sans-serif;
}

.title-form-separator {
	height: 20rem;
}

.form-items-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	gap: 300px;
	background: linear-gradient(to right, #333399, #aa00cc);
}

.form-item-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	position: relative;
	right: 90px;
}

.activity-duration-container {
	position: relative;
	right: 60px;
}

.form-item-title {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 22px;
}

.buttons-container {
	display: flex;
	justify-content: center;
	gap: 12px;
	position: relative;
	top: 8rem;
}

.button {
	font-size: 3.5em;
	background: transparent;
	border: 2px solid black;
	border-radius: 999px;
	padding: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

.button:hover {
	cursor: pointer;
	background: #b1b1b1;
}

// .confirm-button {

// }

// .cancel-button {

// }

.form-item-input {
	height: 3rem;
	background: black;
	color: white;
	font-family: "Poppins", sans-serif;
	border: none;
	border-radius: 5px;
}

.create-activity-group-input {
	padding-left: 2rem;
}
