.page-title {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	font-weight: 700;
	font-size: 3em;
	color: black;
	font-family: "Poppins", sans-serif;
}

.title-form-separator {
	height: 20rem;
}

.form-items-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	gap: 300px;
	background: linear-gradient(to right, #333399, #aa00cc);
}

.form-item-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

.form-item-title {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 22px;
}
